extends layout

block content

  h1 #{title}: #{bookInstance._id}
  p= bookInstance.book.title

  p Do you really want to delete this Book Instance?

    form(method='POST')
      div.form-group
        input#authorid.form-control(type='hidden', name='bookInstanceid', value=bookInstance._id )

      button.btn.btn-primary(type='submit') Delete
